html {
font-family: Raleway;
}

img {
max-height: 150px;
max-width: 200px;
float: left;
margin-right: 10px;
}

.jumbotron {
background-color: white;
}

.jumbotron .postitusi {
color: black;
}

.jumbotron .kirjeldus {
float: right;
word-wrap: break-all;
width: 450px;
}

.jumbotron #loading {
text-align: center;
}

.jumbotron .loojad img {
float: left;
height: 100px;
width: 150px;
}

.jumbotron .location {
color: black;
margin-top: 150px;
}

#map{

height:400px;
width:100%;
}

#meistH {
color: black;
}

.loadimg {
width:100px;
height:100px;
}

.img-circle {
height: 100px;
width: 100px;
}

