body {
font-family: "Times New Roman";
}

.jumbotron .kuulutusePilt{
height: 150px;
width: 200px;
float: left;
margin-right: 10px;
}

.jumbotron {
background-color: white;
}

.jumbotron .postitusi {
color: black;
}

.jumbotron .kirjeldus {
float: right;
width: 450px;
}

.loading {
    margin: auto;
    width: 25%;
    padding: 10px;
}

.jumbotron .location {
color: black;
margin-top: 150px;
}

#map{
height:400px;
width:100%;
}

#meistH {
color: black;
}

.img-circle {
height: 100px;
width: 100px;
}

